html, body {
	margin: 0;
	padding: 0;
}

header {
	margin: 0;
	padding: 0;
}

.horizontalbar {
	display: flex;
}

.leftmenu {
    margin-right: 25%;
    margin-top: 1%;
 }

 .rightmenu {
 	margin-top: 1%;
 }

.leftmenu li {
	display: inline;
	padding: 10px;
}

.rightmenu li {
	display: inline;
	padding: 10px;
}

nav li h2 {
	text-align: center;
	padding-bottom: 100px;
}

.firstpart h2 {
	text-align: center;
	padding-bottom: 100px;
}

ul {
	list-style:none;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.slider {
	width: 100%;
}

.secondpart {
	width: 100%;
}

.pics2 {
	width: 100%;
	display: flex;
}

.pics2 .img {
   width: 25%;
}

.bloc {
	background-color: black;
	width: 25%;
}

.info {
	display: flex;
	justify-content: space-between;
	color:white;
	background-color: grey;
	padding-right: 40px;
}

.info ul {
	padding-top: 20px;
}

.abo {
	background-color: grey;
	height: 100%;
}

.mentions {
	background-color: black;
	height: 100%;
}

.mentions img {
	margin-left: 45%;
	margin-top: 1%;
}

.mentionstxt {
	display: flex;
	justify-content: space-between;
}

.icones img {
	width: 40px;
}

.aboicones {
	display: flex;
	background-color: grey;
}

.abo {
	margin-left: 2%;
}

.icones {
	margin-left: 30%;
	margin-top: 2%;
	background-color: grey;
}
